.SidebarContainer {

    position: fixed;
    top: 0;
    left: -200px;
    background-color: #9DC6E4;
    color: white;
    height: 100%;
    width: 200px;
    transition: left 0.5s ease;
    z-index: 1001;
}

.SidebarContainer.open {
    left: 0;
}

.MenuIcon {
    color: white;
    font-size: 24px;
    position: absolute;
    top: 5px;
    left: 5px;
    transition: left 0.5s ease;
    z-index: 1002;
}

.SidebarContainer.open ~ .MenuIcon {
    left: 165px;
}

.SideBtn1 {

    position: absolute;
    background-color: #3A4A86;
    height: 30px;
    width: 50px;
    text-align: center;
    top: 60px;
    left: 30px;
    
}

